<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/Copy_of_test_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*  operator
--------------
1) What  is  the  result  of  25 * 4 ?  ---> 100
    What  is  the  result  of  '25' * 4 ?  ---> '25252525'

2) What  does  non-seqeunce  *  non-sequence  do  ?  ---> Multiplication
     What  does  sequence *  integer   do  ? --->  Repeats  sequence  for  'n'  times
     What  does  *sequence  do  ? ---> Unpacks  sequence  into  elements
    
3) Is  *  operator  overloaded ? --->  Yes  becoz   *  operator  does  multiplication ,  repetition  and  unpacks  object

4) Is  sequence *  float  valid ?  --->  No  becoz  operand2  should  be  an  integer  when  operand1  is  a  sequence

5) Is  sequence * sequence  valid  ?  --->  No  becoz  operand2  should  be  an  integer  when  operand1  is  a  sequence
      
6) Which  sequences  can  not  be  repeated (Total  :  3) ?  --->  set , dictionary , range

bold text#print({10 , 20} + {30 , 40}) # Error : sets  cannot be concatenated  with  +  operator
#print({10 : 'Hyd'} + {20 : 'Sec'}) # Error : dictionaries cannot be concatenated  with  + operator
#print(range(4) + range(5))  # Error  :  range  objects  cannot be  concatenated
#print(10 + '20') # Error :  Operand2  should  be  a  non-sequence   as  operand1   is  a  non-sequence
#print([10 , 20 , 30] + 5) # Error :  list  and  int  can  not  be  concatenated
#print([10 , 20 , 30] + (40 , 50 , 60)) # Error  :  list  and   tuple  can  not  be  concatenated

In [ ]:
# Find outputs (Home work)
print(10 + 20) # 30
print(10.8 + 20.6) #  31.4
print(3 + 4j + 5 + 6j) # 8+10j
print(True + False) #  1 + 0 = 1
print('Hyder' + 'abad') # Hyderabad
print('Sankar' + 'Dayal' + 'Sarma') #SankarDayalSarma
print('10' + '20') # 1020
print([10 , 20 , 30] + [1 , 2 , 3]) # [10, 20, 30, 1, 2, 3]
print((25 , 10.8 , 'Hyd') + (3 + 4j , True , None)) # (25, 10.8, 'Hyd', (3+4j), True, None)

30
31.400000000000002
(8+10j)
1
Hyderabad
SankarDayalSarma
1020
[10, 20, 30, 1, 2, 3]
(25, 10.8, 'Hyd', (3+4j), True, None)

In [ ]:
# Find outputs (Home work)
print(25 * 3) # 75
print(10.8 * 25.6) # 276.48
print(True * False) # 1 * 0 = 0
print((3 + 4j) * (5 + 6j)) # 15+18j+20j-24 = -9 + 38j
print(3 + 4j * 5 + 6j) #  3 + 20j + 6j = 3 + 26j
print('25' * 3) # 252525
print(3 * '25') # 252525
print('Hyd' * 4) # HydHydHydHyd
print([10 , 20 , 15] * 2) # [10, 20, 15, 10, 20, 15]
print((25, 10.8, 'Hyd', True) * 3) # (25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True)
#print([10 , 20 , 15] * 3.0)  #  Error  due  to  float  operand  3.0
#print({10 , 20 , 15} * 2) # Error : set cannot  be  repeated
#print({10 : 20 , 30 : 40} * 2) # Error : dict cannot be  repeated
#print([10] * [20]) # Error :  2nd  opernad is  non-int   i.e.  list



'''
What  is  operand2  of  *  operator  when  operand1  is  a  sequence ?  --->   Integer
'''

In [ ]:
# Find outputs (Home work)
print(25 * 3) # 75
print(10.8 * 25.6) # 276.48
print(True * False) # 1 * 0 = 0
print((3 + 4j) * (5 + 6j)) # 15+18j+20j-24 = -9 + 38j
print(3 + 4j * 5 + 6j) #  3 + 20j + 6j = 3 + 26j
print('25' * 3) # 252525
print(3 * '25') # 252525
print('Hyd' * 4) # HydHydHydHyd
print([10 , 20 , 15] * 2) # [10, 20, 15, 10, 20, 15]
print((25, 10.8, 'Hyd', True) * 3) # (25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True)
#print([10 , 20 , 15] * 3.0)  #  Error  due  to  float  operand  3.0
#print({10 , 20 , 15} * 2) # Error : set cannot  be  repeated
#print({10 : 20 , 30 : 40} * 2) # Error : dict cannot be  repeated
#print([10] * [20]) # Error :  2nd  opernad is  non-int   i.e.  list



'''
What  is  operand2  of  *  operator  when  operand1  is  a  sequence ?  --->   Integer
'''

In [ ]:
#  /  operator  demo  program
print(9.0 / 2)    #  4.5
print(9 / 2.0)  #  4.5
print(9.0 / 2.0)  #   4.5
print(9 / 2)  #  4.5
print(10.5 / 2)  #   5.25
print(10 / 3)  #   3.3333
print(10 / 2) #  5.0



'''
What  does  /  operator  do  ?  --->  Peforms  division   and  returns  float  quotient
'''

In [ ]:
#  //  operator  demo  program
print(9 // 2)   # Previous  integer  of  4.5 = 4
print(9.0 // 2)  #  Prev  integer  of  4.5 = 4.0
print(9 // 2.0)  #  Prev  integer  of  4.5 = 4.0
print(9.0 // 2.0)   # Prev  integer  of  4.5 = 4.0
print(10.5 // 2)   #  Prev  integer  of  5.25 = 5.0
print(10 // 3)   # Prev  integer  of   3.333 = 3
print(10.0 // 3)  # Prev  integer  of  3.33 = 3.0
print(8.5 // 3)  #   Prev  integer  of  2.8 = 2.0
print(18 // 4)   # Prev  integer  of  4.5  = 4
print(-18 // 4)  # Prev  integer  of  -4.5  = -5
print(-(18 // 4))    #  -(prev  integer  of  4.5) =  -4


'''
//  operator
--------------
1) What  does  //  operator do ?  --->  Same  as  /  operator  but  returns  previous  integer  of  /  result

2) What  is  the  result  of  integer // integer ?  --->  Integer  quotient
    What  is  the  result  of  integer // float ?  ---> Float  quotient  with  .0
    What  is  the  result  of  float // integer ?  ---> Float  quotient  with  .0
    What  is  the  result  of  float // float ?  ---> Float  quotient  with  .0

3) What  is  the  result  of  integer / integer ?  ---> Float  quotient
    What  is  the  result  of  integer / float ?  ---> Float  quotient
    What  is  the  result  of  float / integer ?  ---> Float  quotient
    What  is  the  result  of  float / float ?  ---> Float  quotient

4) When  is  the  result  of  //  operator  integer ?  ---> When  both  the  operands  are  integers
    When  is  the  result  of   //  operator  float  with  .0 ?  ---> When  at  least  one  operand  is  float
'''

In [ ]:
# % operator demo program
print(9 % 5)   #  4
print(9.0 % 5)  #  4.0
print(9 % 5.0)  #  4.0
print(9.0 % 5.0) #  4.0
print(10.5 % 2) #  0.5
print(8.9 % 3)  #  2.9



'''
%   operator
---------------
1) What  does  %  operator  do ?  --->  Performs  division  and  returns  remainder

2) When  is  the  result  of  %  operator  integer ?  --->  When  both  the  operands  are  integers
    When  is  the  result  of  %  operator  float ?  ---> When  at  least  one  operand  is  float
'''

In [ ]:
# Find outputs
#print(7 / 0) # Error :  Division  by  zero  is  not  permitted
#print(7 // 0) # Error :  Division  by  zero  is  not  permitted
#print(7 % 0) # Error :  Division  by  zero  is  not  permitted



'''
What  does  division  by  zero  do ?  ---> Throws  error
'''

In [ ]:
# ** operator demo program
print(3 ** 4)   #  3 ^ 4 = 81
print(10 ** -2) #  10 ^ -2 = 0.01
print(4 ** 3 ** 2) #  4 ^ 3 ^ 2 = 4 ^ 9 = 262144
print(3 + 4 * 5 - 32 / 2 ** 3) #19.0



'''
**  operator
---------------
1) What  is  **  operator  called ?  --->  Exponential  operator

2) What  is  the  result  of  a ** b ?  --->  a ^ b

3) What  is  the  result  of  a ** b  ** c ?   --->  a ^ b ^ c

4) What  is  the  associativity  of  **  operator ?  ---> Right  to  left
    What  is  the  associativity  of  remaining  arithmetic  operators ?  ---> Left  to  right

5) 3 + 4 * 5 - 32 / 2 ** 3
     = 3 + 4 * 5 - 32 / 8
     = 3 + 20 - 32 / 8
     = 3 + 20 - 4.0
     = 23 - 4.0
     = 19.0
'''

In [ ]:
Relational  Operators
--------------------------
1) What  are  the  six  different  relational  operators ?  --->  > , < , == , >= , <= , !=

2) What  does  relational  operators  do ?  ---> Compares  objects   but  not  references
     How  to  compare  references ?  --->  With  is  operator

3) What  is  the  result  of  relational  operators ?  ---> True  (or)  False

4) Which  operators  have  got  higher  priority  in  relational  operators  ?  --->  > , < , >= , <=
     Which  operators  have  got  lower  priority ?  ---> == , !=

5) Which  operators  have  got  higher  priority  between  arithmetic  and  relational  operators ?  --->  Arithmetic  operators

In [ ]:
#  Relational  operators  demo  program (Home  work)
print(9 >= 5)  #   True :  >  is  satisfied
print(9 >= 9)   #   True :  =  is  satisfied
print(9 >= 12)   #  False :  Both  are  not  satisfied
print(6 <= 8)  #  True :  <  is  satisfied
print(6 <= 6) #   True :  =  is  satisfied
print(6 <= 4)  #  False :  Both  are  not  satisfied
print(9 != 7)   #  True
print(6 == 8) #  False
print(True  >  False) #   1 > 0  is  True
print(3 + 4j == 3 + 4j)  #  True :  Same  complex  numbers
print(3 + 4j == 5 + 6j)  #  False :  Different  complex  numbers
print(3 + 4j != 5 + 6j)  #  True
print(10 == 10.0)#   True
#print(3 + 4j >  3 + 4j)   #  Error :  complex  numbers  can  not  be  compared  with   >


'''
1) Can  complex  numbers   be  compared ?   ---> Yes  with  ==  and  !=

2) When  can  complex  numbers   be  not  compared  ?  ---> Wiith  > , <  , >=  and  <=
'''

In [ ]:
#  Find  outputs  (Home  work)
print('Rama'   >  'Rajesh')   # True :   'm' > 'j'
print('Rama'  <  'Sita') #  True :   'R' < 'S'
print('Hyd'  ==  'Hyd') # True :  Same  strings
print('Rama'  <=   'Ramana') # True :  '' <= 'n'
print('Rama  Rao'  >=  'Rama')  # True :  ' ' >= ''
print('Hyd'  != 'Sec') # True
print('HYD'  <   'hyd') # True  :   'H' < 'h'


'''
1) Can  strings  be  compared  with  > ,  < , == ,  >= , <=  and  != ?  --->  Yes  only  in  python  but  not  in  other  languages

2) What  are  compared  internally  when  strings  are  compared ? --->  1st  non-matching  characters

3) Are  characters  compared  (or)  their  unicode  values ?  --->  Unicode  values

4) How  many  unicode  values  exist ?  ---> 512

5) What  is  the  range  of  unicode  values ?  ---> 0  to  511

6) What  are  the  unicode  values  of  'A'  to  'Z'  ?  --->  65  to  90
    What  are  the  unicode  values  of  'a'  to   'z'  ?  ---> 97  to  122
    What  are  the  unicode  values  of   '0'  to  '9' ?  --->  48  to  57
    What  is  the  unicode  value  of   '$' ?  ---> 36
    What  is  the  unicode  value  of  space ?  --->  32

7) What  is  another  name  of  unicode ?  --->  Extended  Ascii (American  standard  code  for  information  and  interchange)
'''

In [ ]:
# Chaining  relational  opeartors  (Home work)
print(10 < 20 < 30)    #  True :  Both  are  True
print(10 >= 20 < 30)  #  False  :  10  is  not  >= 20
print(10 < 20 > 30) #  False  :   20  is  not  > 30
print(1 < 2 < 3 < 4)   #  True :  All conditions  are  True
print(1 < 2 > 3 > 1) #  False  :  2  is  not  > 3
print(4 > 3 >= 3 > 2)   #  True : All conditions  are  True


'''
1) Can  relational  operators  be  chained  ?  --->  Yes  only  in  python  but  not  in  other  languages

2) When  is  the  result  True ?  --->  When  all  the  conditions  are  True
    When  is  the  result  False ?  ---> When  at  least  one  condition  is  False
'''

Logical  operators
----------------------
1) What  are  the  three  different  logical  operators ?  ---> and , or , not

2) Which  operator  has  got  highest  priority  in  logical  operators ?  --->  not
     Which  operator  has  got  2nd  higher  priority ?  ---> and
     Which  operator  has  got  lowest  priority ?  --->  or

3) Which  operator  has  got  higher  priority  between  relational  and  logical  operators ?  ---> Relational  operators

In [ ]:
#  and  operator  demo  program
print(True  and  False)   #   False
print(False  and  True)  #   False
print(False  and   False)  #   False
print(True  and  True)    #  True
print(10  and  20)  #  20
print(0  and  20)  #  0
print(-25  and  0)   #  0
print(''  and  25) #  Empty  string
print(6j  and  'Hyd')  # Hyd
print(0j  and  'Sec')  #   0j
print('Hyd'   and  10.8)  #  10.8
print(10  and  20  and  30)  #   20  and   30 = 30




'''
and  operator
----------------
1) When  is  the  result  of  and  operator  False ?  --->  When  at  least  one  operand  is  False
    When  is  the  result  of  and  operator  True ?  ---> When  both  the  operands  are  True

2) What  is  the  result  of  op1  and  op2  when  op1  is  True ?  --->  op2
    What  is  the  result  of  op1  and  op2  when  op1  is  False ?  ---> op1

3) Is  0  True  (or)  False  ?  --->  False
     What  about  Non-zero ? ---> True

4) Is  ''  True  (or)  False  ?   --->  False  due  to  empty  string
     What  about  non-empty  string ?  ---> True

5) What  is  0j  --->  False  due  to  zero  imag
    What  is  4j  ---> True  due  to  non-zero  imag
    What  is  3 + 0j ?  ---> True  due  to  non-zero  real
'''

In [ ]:
#  or  operator  demo program
print(True  or  False)  #  True
print(False  or  True)   #  True
print(True  or  True)   #  True
print(False  or   False)  #  False
print(10  or  20)  #    10
print(0   or  20) #   20
print(-25  or  0) #-25
print(''  or  35) # 35
print(6j  or  'Hyd')# 6j
print(0.0  or  3 + 4j) # 3 + 4j
print('Hyd'   or   10.8) # Hyd

'''
or  operator
--------------
1) When  is  the  result  of  or  operator  True ?  --->  When  at  least  one  operand  is  True
    When  is  the  result  of  or  operator  False ?  ---> When  both  the  operands  are  False

2) What  is  the  result  of  op1  or  op2  when  op1  is  False ?  ---> op2
    What  is  the  result  of  op1  or  op2  when  op1  is  True ?  --->	op1

3) and ,  or  operators  are  quite  opposite
'''

In [ ]:
# not  operator  demo  program
print(not  True) #  False
print(not  False)   # True
print(not  25) #  not  True   --->  False
print(not  0)  #  not  False   --->   True
print(not  'Hyd') #  not  True   --->   False
print(not  '') #  not  False   --->  True
print(not  -10) #  not  True   --->   False
print(not  not  'Hyd') #  not  not  True  --->  not  False   --->   True


'''
not  operator
----------------
1) What  does  not  operator  do ?  --->  Complement  operation

2) Is  not  a  unary  operator  ?  --->  Yes  due  to  single  operand
    What  about  and ,  or ? --->  Binary  operators  due  to  two  operands

3) What  is  the  associativity  of  unary  operators ?  ---> Right  to  Left
    What  is  the  associativity  of  binary  operators ?  ---> Left  to  Right  except  for  **
'''

In [ ]:
#  Find   outputs (Home work)
i = 10
i = not  i > 14 # not  10 > 14  --->  not  False   --->   True
print(i) # True
print(not(6 < 4  or  9 >= 5  and  6 != 6))# True


'''
1) i = not  i >  14
   Why  is  >  operator  evaluated  before  not  operator ?  --->
                                                     Since  relational  operator  '>'  has  got  higher  priority  over  logical  operator  not

2) ! (6 < 4  ||  9 >= 5  &&  6 != 6)
    = !(false  ||  true  &&  false)
    = !(false  ||  false)
    = !false
    = true
'''

Assignment  operators
-------------------------
1)  =

2) +=

3) -=

4) *=

5) /=

6) //=

7) %=

8) **=

In [ ]:
Assignment  Statement
----------------------------
1) What  is  =  operator  called ?  ---> Assignment  operator

2) What  does  =  operator  do ? --->  Assigns  reference  to  an  object

3) What  is  the  statement  with  =  operator  called  ? --->  Assignment  statement

4) What  does  a = 25  do  ?  --->  Assigns  reference  to  object  25

5) a = [10 , 20 , 15 , 18]
    b = a
    What  does  b = a  do ? --->  Assigns  reference  'b'  to  same  list  where  'a'  points.
 					         Finally  both  the  references  point  to  same  list

6) a = 4
    b = 5
    What  does  c = a + b * 6  do ?  --->  Assigns  reference  'c'  to  object  34(i.e. Result  of  the  expression)

=    Vs   ==
---------------
1) What  is  =  operator  called ?  ---> Assignment  operator
    What  is  ==  operator  called ?  ---> Relational  operator

2) What  does  =  operator  do ?  ---> Assigns  reference  to  an  object
     What  does  ==   operator  do ?  ---> Compares  objects

3) What  does  a = 7  do  ?  ---> Assigns  reference  'a'  to  int  object  '7'
     What  does  a == 7  do ? ---> Compares  value  of  object  'a'   with  7

4) What  is  the  result  of  the  statement  a = 7 ?  --->  No  result
     What  is  the  result  of  a == 7 ?  --->  True  /  False

5) Are  a = b  and  b = a  same ?  ---> No  and  they  are  quite  opposite
    Are  a == b  and  b == a  same ?  ---> Yes  and  objects  'a'  and  'b'  are  compared

6) What  is  operand1  in  operand1 = operand2  ?   ---> Only  reference
    What  is  operand1  in  operand1 == operand2  ? --->  Anything
										       i.e. Either  reference  (or)  object
    What  is  operand2  for  both  =  and  == ?  ---> Anything

Membership    operators
------------------------------
1) What  are  the  two  membership  operators ?  ---> in  and  not  in

2) What  is  the  syntax  of  'in'  operator ?  ---> element  in  sequence

3) What  does  in  operator  do ? ---> Returns  True  when  element  is  in  the  sequence  and  False  otherwise

4) What  does  not  in  operator  do ? ---> Quite  opposite  to  in  operator

In [ ]:
Precedence  of  operators
------------------------------
1) Which  operator  has  got  highest  priority ?  --->  ()

2) Which  operator  has  got  2nd  highest  priority ?  --->  Arithmetic  operators

3) Which  operators  have  got  3rd  highest  priority ?  --->  Relational  operators

4) Which  operators  have  got  4th  highest  priority ?  --->  Assignment  operators

5) Which  operators  have  got  5th  highest  priority ?  --->  Identity  operators

6) Which  operators  have  got  6th  highest  priority ?  ---> Membership  operators

7) Which  operators  have  got  lowest  priority ?  --->  Logical  operators

In [ ]:
#  Assignment  operators  demo  program  (Home  work)
a = 25
print(a) #25
b =  a
print(b) #25
print(a  is  b) #true
x = 4
y = 5
z = x + y * 6
print(z)#29
# 25 = a
# a + b = x + y #error
# Find outputs (Home work)
a = b = c = 25
print(id(a)) #say 6789
print(id(b))#same 6789
print(id(c)) #same 6789
print(a , b , c) #25 25 25
# Multiple  Assignment (Home work)
x , y , z = 25 , 10.8 , 'Hyd'
print(x) #25
print(y) #10.8
print(z) #'Hyd'
# Find outputs (Home work)
a , b , c = 3 , 4 , 5
a *= b + c
print(a) #27
# Identity operators demo program
a = 25
b = 25
print(a  is  b) #true
print(a  is  not  b) #false
print(a == b) #true
# Find outputs (Home work)
a = 3
a **= 4
print(a) #81
# Find outputs (Home work)
a = 20
a %= 3 + 2 * 4
print(a) #9
# Find outputs (Home work)
x = [1 , 2 , 3 , 4]
y = [1 , 2 , 4 , 3]
print(x == y) # false
a = (4 , 1 , 3 , 2)
b = (4 , 2 , 3 , 1)
print(a == b) #false
p = {1 , 2 , 3 , 4}
q = {4 , 1 , 3 , 2}
print(p == q) #true
m = range(5)
n = range(5)
print(m == n) #true
# Find outputs (Home work)
a = [10,20,30]
b = (10,20,30)
print(a  is  b)  #false
print(a  ==  b) #false
# Membership operators demo program (Home work)
list = [10 , 20 , 15 , 12 , 18]
print(15 in list) #true
print(19 in list) #false
print(14 not in list) #true
print(15 not in list) ##false
s = 'Hyd is green city'
print( 'is' in s) #true
print('was' in s) #false
print('g' in s) #true
print('z' in s) #false
print(' ' in s) #true
print('gre' in s) #True
print('yd i' in s) #true
print('' in s) #true
print('' not in s) #false
# Find outputs (Home work)
a = 25
b = 25.0
print(a  is  b) # false
print(a  is  not  b) #true
print(a == b) #true
# Find outputs (Home work)
a = 'Hyd'
b = 'Hyd'
print(a  is  b) #false
print(a  is  not  b) #true
print(a == b) #true
print()
x = [1 , 2 , 3 , 4]
y = [1 , 2 , 3 , 4]
print(x is y) #false
print(x  is  not  y) #true
print(x == y) #true
print()
m = (1 , 2 , 3 , 4)
n = (1 , 2 , 3 , 4)
print(m  is  n) #False
print(m  is  not  n) #true
print(m == n) #true
print(x == m) #false

25
25
True
34
10758504
10758504
10758504
25 25 25
25
10.8
Hyd
27
True
False
True
81
9
False
False
True
True
False
False
True
False
True
False
True
False
True
False
True
True
True
True
False
False
True
True
True
False
True

False
True
True

False
True
True
False

In [ ]:
# Find outputs (Home work)
a = b = c = 25 # Assigns  references  a , b  and  c  to  object 25
print(id(a)) #   Address  of  object  25 (say 1000)
print(id(b))  #   Address  of  object  25 (1000)
print(id(c))  #   Address  of  object  25 (1000)
print(a , b , c)  #   25  <space> 25  <space>  25


'''
a = b = c = 25
How  many  objects  are  there ?  --->  Just  one  object  with  three  references
'''

In [ ]:
# Multiple  Assignment (Home work)
x , y , z = 25 , 10.8 , 'Hyd'    #  Multiple  assignment
print(x) # 25
print(y) # 10.8
print(z) # Hyd


'''
x , y , z  = 25 , 10.8 , 'Hyd'
How  to  divide  the  statement  into  three  statements ?  --->  x = 25
																									 y = 10.8
																									 z = 'Hyd'
'''

In [ ]:
#  Find  outputs
a = 7
print(a , id(a))   #  7  <space> Address  of  object  7
a += 5 #  a = a + (5)   --->  a = 7 + (5) = 12
print(a , id(a))   #   12 <space> Address  of  object  12


'''
1) What  is  the  expansion  of  LHS  op=  RHS ?   --->  LHS  =  LHS  op  (RHS)  where  op  is  any  operator

2) What  does  a += 5  do ?  --->  Modifies  ref  'a'  to  object  12
'''

In [ ]:
# Find outputs (Home work)
a , b , c = 3 , 4 , 5
a *= b + c # a = a * (b + c)  --->  a =  3 * (4 + 5) = 27
print(a) # 27

In [ ]:
# Find outputs (Home work)
a = 20
a %= 3 + 2 * 4  #   a = a % (3 + 2 * 4)   --->  a = 20 % 11 = 9
print(a) # 9

In [ ]:
# Find outputs (Home work)
a = 3
a **= 4  #  a = a ** (4)  --->  a =  81
print(a) # 81

Identity    operators
-------------------------
1) What  are  the  two  identity  operators ? --->  is  and  is  not

2) What  does  ref1  is  ref2  do ?  ---> Compares  references
     What  does   ref1 == ref2  do ?  ---> Compares  objects  pointed  by  ref1  and  ref2

3) What  is  the  result  of  ref1  is  ref2 ?  --->
								True  when  both  the  references  point  to  same  object  and  False  otherwise
    What  is  the  result  of  ref1  ==  ref2 ?  --->  True  when  both  the  objects  have  same  value  and  False  otherwise

4) is  and  is  not  are  quite  opposite  operators

In [ ]:
# Identity operators demo program
a = 25 #  Assigns  reference  'a'  to  object  25
b = 25 #  Assigns  ref  'b'  to  same  object  25
print(a  is  b) # True  :  References  'a'  and  'b'  point  to  same  object  25
print(a  is  not  b) # False
print(a == b) # True  :  Objects  'a'  and  'b'  have  same  value   25

In [ ]:
# Find outputs (Home work)
a = 25   #  Ref  'a'  points  to   int   object  25
b = 25.0    #  Ref  'b'  points  to  float object  25.0
print(a  is  b) # False :  'a'   and  'b'  point  to  different  objects
print(a  is  not  b) # True
print(a == b) # True :  Objects  'a'  and  'b' have  same  value  i.e.  25  and  25.0


'''
Are  25  and  25.0  same ?   --->  Yes
'''

In [ ]:
# Find outputs (Home work)
a = 'Hyd'   #  Ref  'a'  points  to  object  'Hyd'
b = 'Hyd'   #  Ref  'b'  points  to  same  object  'Hyd'
print(a  is  b) # True  :  References  'a'  and  'b'  point  to  same  object  'Hyd'
print(a  is  not  b) # False
print(a == b) # True  : Objects  'a'  and 'b' have  same  string  'Hyd'
print()
x = [1 , 2 , 3 , 4]  # Ref  'x'  points  to  list
y = [1 , 2 , 3 , 4]  #  Ref  'y'  points  to  a  different  list  as  list  is  mutable  and  not  reusable
print(x  is  y) # False  :  References  'x'  and  'y'  point  to  different  lists
print(x  is  not  y) # True
print(x == y) # True :  Lists  'x'  and 'y'  have  same  elements
print()
m = (1 , 2 , 3 , 4)  # Ref  'm'  points  to   tuple
n = (1 , 2 , 3 , 4)  #  Ref  'n'  points  to  same  tuple
print(m  is  n) # True  :  References  'm'  and  'n'  point  to  same  tuple
print(m  is  not  n) # False
print(m == n) # True  :  Tuples  'm'  and 'n'  have  same  elements
print(x == m) #  False :  References  x  and  m  point  to  different  objects


'''
list == tuple
What  does  ==  do ?  --->


Compares  references  but  not  objects  becoz  they  are  different  class  objects
'''

In [ ]:
# Find outputs (Home work)
x = [1 , 2 , 3 , 4]
y = [1 , 2 , 4 , 3]
print(x == y) # False :  3 == 4  is  False
a = (4 , 1 , 3 , 2)
b = (4 , 2 , 3 , 1)
print(a == b)  # False  :  1 == 2  is  False
p = {1 , 2 , 3 , 4}
q = {4 , 1 , 3 , 2}
print(p == q) # True :  Sets  p  and  q  have  same  elements
m = range(5)
n = range(5)
print(m == n) #   True  :  Objects  'm'  and  'n'  have   same  elements


'''
1) What  is  the  key  when  sequences  are  compared  with  ==  operator ?  --->  1st  non-matching  elements

2) What  about  set ?  --->  Elements  but  not  order  becoz  set  is  unordered
'''

Membership    operators
------------------------------
1) What  are  the  two  membership  operators ?  ---> in  and  not  in

2) What  is  the  syntax  of  'in'  operator ?  ---> element  in  sequence

3) What  does  in  operator  do ? ---> Returns  True  when  element  is  in  the  sequence  and  False  otherwise

4) What  does  not  in  operator  do ? ---> Quite  opposite  to  in  operator

In [ ]:
# Membership operators demo program (Home work)
list = [10 , 20 , 15 , 12 , 18]
print(15 in list) # True
print(19 in list) # False
print(14 not in list) # True
print(15 not in list) # False
s = 'Hyd is green city'
print( 'is' in s) # True
print('was' in s) # False
print('g' in s) # True
print('z' in s) # False
print(' ' in s) # True
print('gre' in s) # True
print('yd i' in s) # True
print('' in s) # True :  Every  string  has  empty string
print('' not in s) # False

In [ ]:
Precedence  of  operators
------------------------------
1) Which  operator  has  got  highest  priority ?  --->  ()

2) Which  operator  has  got  2nd  highest  priority ?  --->  Arithmetic  operators

3) Which  operators  have  got  3rd  highest  priority ?  --->  Relational  operators

4) Which  operators  have  got  4th  highest  priority ?  --->  Assignment  operators

5) Which  operators  have  got  5th  highest  priority ?  --->  Identity  operators

6) Which  operators  have  got  6th  highest  priority ?  ---> Membership  operators

7) Which  operators  have  got  lowest  priority ?  --->  Logical  operators

print("testing github")