<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/Logical_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Write  a  program  to  sort a  list  without  using  sorted()  function  and  sort()  method

Input :  [10,20,30,25,40,35,12,5]
Output :  [5,10,12,20,25,30,35,40]
'''

# Enter list:[10,20,15,12,5]
# [5, 10, 12,15,20]


print("using the sort method")
a=[10,20,30,25,40,35,12,5]
a.sort()
print(a)

a=[10,20,30,25,40,35,12,5]
for i in range(len(a)):
  for j in range(0,len(a)-i-1):
    if a[j]>a[j+1]:
      a[j],a[j+1]=a[j+1],a[j]
print("Sorted list is:",a)

using the sort method
[5, 10, 12, 20, 25, 30, 35, 40]

In [ ]:
'''
Write  a  program  to  determine  n-th  largest  element   of   a   list

Input1 :  [10,20,30,25,40,35,12,5]
Input2 :  3  (3rd  largest)
Output :  30
'''
# Enter list:[10,20,30,25,40,35,12,5]
# Enter which largest which to be shown:4
# 4th  largest element:25
try:
  a=eval(input("enter list"))
  print(a)
  s=set(a)
  n=int(input("enter the n-th largest number:"))
  for i in range(n):
    large=max(s)
    s.remove(large)
  print(large)
except:
  print("Invalid input")

enter list[]
[]
enter the n-th largest number:5
Invalid input

In [ ]:
'''
Write  a  program  to  merge  two  sorted  lists  to  produce  another  sorted  list


                                0      1      2       3         4
Eg:  List  'a'   --->  [10  ,  20  , 30   ,  40   ,  50]
       List  'b'   --->  [5  ,  12  , 20   ,  37]
	                            0     1       2       3
	   List  'c' --->  [5 , 10 , 12 , 20 , 20 , 30 , 37 , 40 , 50]

Hint1 :  Unsorted  lists  can  not  be  merged

Hint2 :  Use  single  while  loop
'''


#with using sort method
a=eval(input("enter a inputs:"))
b=eval(input("enter b inputs:"))
c=a+b
c.sort()
print(c)

enter a inputs:[55,5,22,11]
enter b inputs:[2,8,22,11,33]
[2, 5, 8, 11, 11, 22, 22, 33, 55]

In [ ]:

#merge sort program
'''
Write  a  program  to  merge  two  sorted  lists  to  produce  another  sorted  list


                                0      1      2       3         4
Eg:  List  'a'   --->  [10  ,  20  , 30   ,  40   ,  50]
       List  'b'   --->  [5  ,  12  , 20   ,  37]
	                            0     1       2       3
	   List  'c' --->  [5 , 10 , 12 , 20 , 20 , 30 , 37 , 40 , 50]

Hint1 :  Unsorted  lists  can  not  be  merged

Hint2 :  Use  single  while  loop
'''

#without using sort method and using while condition
a=eval(input("enter a elements:"))
b=eval(input("enter b elements"))
a.sort()
b.sort()
i=j=0
c=[]
while i<len(a) and j<len(b):
  if a[i]>b[j]:
    c.append(b[j])
    j=j+1
  else:
    c.append(a[i])
    i=i+1
c.extend(a[i:])
c.extend(b[j:])
print(c)

enter a elements:[5  ,  12  , 20   ,  37]
enter b elements[10  ,  20  , 30   ,  40   ,  50]
[5, 10, 12, 20, 20, 30, 37, 40, 50]

In [ ]:
'''
Most  tricky  program
Input :   List  of  strings
              Eg: ['Swathi' , 'Anand' , 'Srinivas' , 'Zebra' , 'King' , 'Amar' ]
Output :  Nested  list
		        i.e.  [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar'] , ['Zebra'] , ['King']]

Hint: Do  not  sort  the  lists

1) b = ['S' , 'A' ,  , 'Z' , 'K' ]

2) c = []

3) Iteartion  1 :  d  = ['Swathi' , 'Srinivas']
                           c =  [['Swathi' , 'Srinivas']]

4) Iteartion  2 :  d  =  ['Anand' , 'Amar']
                           c =   [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar']]

5) Iteartion  3 :  d  =  ['Zebra']
                           c =   [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar'] , ['Zebra']]

6) Iteartion  4 :  d  =  ['King']
                           c =   [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar'] , ['Zebra'] , ['King']]
'''


# Enter  list  of  strings :  ['Swathi' , 'Anand' , 'Srinivas' , 'Zebra' , 'King' , 'Amar' ]
# [['Swathi', 'Srinivas'], ['Anand', 'Amar'], ['Zebra'], ['King']]


a=eval(input("enter the list of strings:"))
b=[]
for i in a:
  x=i[0]
  if x not in b:
    b.append(x)
c=[]
for j in b:
  d=[]
  for k in a:
    if k.startswith(j):
      d.append(k)
  c.append(d)
print(c)

enter the list of strings:['Swathi' , 'Anand' , 'Srinivas' , 'Zebra' , 'King' , 'Amar' ]
[['Swathi', 'Srinivas'], ['Anand', 'Amar'], ['Zebra'], ['King']]

In [ ]:
a=eval(input("enter list of strings:"))
b=[]
for str in a:
  firstchar=str[0]
  if firstchar not in b:
    b.append(firstchar)
c=[]
for ch in b:
  d=[]
  for str in a:
    if str.startswith(ch):
      d.append(str)
  c.append(d)
print(c)

enter list of strings:['Swathi' , 'Anand' , 'Srinivas' , 'Zebra' , 'King' , 'Amar' ]
[['Swathi', 'Srinivas'], ['Anand', 'Amar'], ['Zebra'], ['King']]

In [ ]:
'''
Write  a  program  to  convert  a  nested  list  to  list  without  comprehension

Let  input  be  [ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
What  is  the  output ?  --->  [10 , 20 , 30 , 40 , 50 , 60 , 70 , 80 , 90]
'''
# Enter nested list : [ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
# [10, 20, 30, 40, 50, 60, 70, 80, 90]


a=eval(input("enter the nested list:"))
print(a)
b=[]
for i in a:
  b.extend(i)
print(b)

enter the nested list:[ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
[[10, 20], [30, 40, 50], [60, 70, 80, 90]]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
'''
Write  a  program  to  convert  a  nested  list  to  list  with comprehension

Let  input  be  [ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
What  is  the  output ?  --->  [10 , 20 , 30 , 40 , 50 , 60 , 70 , 80 , 90]
'''
# Enter nested list : [ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
# [10, 20, 30, 40, 50, 60, 70, 80, 90]
a=eval(input("enter the nested list:"))
b=[y for x in a for y in x]
print(b)

enter the nested list:[ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
'''
Write  a  program  to  concatenate  each  character  of  1st  string  with  every  character  of   2nd  string  without  comprehension

Let  1st string  be  HYD  and   2nd string  be   PUNE
What  is  the  result  ?  --->  ['HP' , 'HU' , 'HN' , 'HE' , 'YP' , 'YU' , 'YN' , 'YE' , 'DP' , 'DU' , 'DN' , 'DE']

Hint: Same  as  previous  program
'''
#without comprehension
a=eval(input("enter 1st string"))
b=eval(input("enter 2nd string"))
d=[]
for i in a:
  for j in b:
    c=i+j
    d.append(c)
print(d)


#with comprehension
a=eval(input("enter 1st string"))
b=eval(input("enter 2nd string"))
c=[x+y for x in a for y in b]
print(c)

enter 1st string"HYD"
enter 2nd string"PUNE"
['HP', 'HU', 'HN', 'HE', 'YP', 'YU', 'YN', 'YE', 'DP', 'DU', 'DN', 'DE']
enter 1st string"RANJITH"
enter 2nd string"ADDAKULA"
['RA', 'RD', 'RD', 'RA', 'RK', 'RU', 'RL', 'RA', 'AA', 'AD', 'AD', 'AA', 'AK', 'AU', 'AL', 'AA', 'NA', 'ND', 'ND', 'NA', 'NK', 'NU', 'NL', 'NA', 'JA', 'JD', 'JD', 'JA', 'JK', 'JU', 'JL', 'JA', 'IA', 'ID', 'ID', 'IA', 'IK', 'IU', 'IL', 'IA', 'TA', 'TD', 'TD', 'TA', 'TK', 'TU', 'TL', 'TA', 'HA', 'HD', 'HD', 'HA', 'HK', 'HU', 'HL', 'HA']

In [ ]:
'''
Write  a  program  to  append  each  word  of  the  sentence  and  its  length  to  a  list
(word  should  be  in  capital  letters)  without  comprehension

Let  input  be   hyd  is  green  city
What  is  the  output ?  --->  [['HYD' , 3] , ['IS' , 2] , ['GREEN' , 5] , ['CITY', 4]]
'''
# Enter  any  sentence :  Students are getting bored
# [['STUDENTS', 8], ['ARE', 3], ['GETTING', 7], ['BORED', 5]]


a=input("enter any sentence:")
b=a.split()
c=[]
for i in b:
  c.append([i.upper(),len(i)])
print(b)

enter any sentence:Students are getting bored
['Students', 'are', 'getting', 'bored']

In [ ]:
'''
Write  a  program  to  delete  'all'  occurences  of  'x'  from  the  list

Let  1st  input  be   [10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]  and
2nd  input  be  15
What  is  the  output ?  ---> [10 , 20 ,  18 , 19 , 17 , 20 , 14]
'''
# Enter List  :  [10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]
# Enter  element  to  be  deleted : 15
# List  without   15's :  [10, 20, 18, 19, 17, 20, 14]

# a=eval(input("enter list:"))
# b=set(a)
# n=eval(input("enter delete element"))
# if n in b:
#   b.remove(n)
# print(b)


#without converting in to the set use while condition
a=eval(input("enter list:"))
n=eval(input("enter delete element"))
while n in a:
  a.remove(n)
print(a)

enter list:[10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]
enter delete element15
[10, 20, 18, 19, 17, 20, 14]

In [ ]:
'''
Write  a  program  to  sort  string  such  that  alphabets  in  alphabetical  order  and  digits  in  ascending  order

Let  input  be  Z9K3PA7D51
What  is  the  output ?  --->  ADKPZ13579

1)What  is  the  result  after  input  is  sorted ?  --->  '13579ADKPZ'

2) alpha = '' + 'A' + 'D' + 'K' + 'P' + 'Z'
    digit = '' + '1' + '3' + '5' + '7' + '9'

3) What  is  the  result  after  alpha  and  digit  are  concatenated ?  --->  'ADKPZ13579'
'''

a=input("enter input be")
b=c=""
for i in a:
  if i.isalpha():
    b=b+i
  else:
    c=c+i
d=b+c
print(d)

enter input beZ9K3PA7D51
ZKPAD93751

In [ ]:
'''
Write  a  program  to  sort  string  in  alphabetical  order

Let  input  be  RAJESH
What  is  the  output ?  --->  AEHJRS
'''

a=input("enter input:")
b=sorted(a)
print(b)
c="".join(b)
print(c)

enter input:RAJESH
['A', 'E', 'H', 'J', 'R', 'S']
AEHJRS

In [ ]:
'''
Write  a  program  to  reverse  each  word  of  the  sentence

1) Let  input  be  Hyd  is  green  city
    What  is  the  output ?  ---> dyH si neerg ytic

2) Hint: Use  for  each  loop  and  also  slice
'''

a=input("enter word")
b=a.split()
c=""
for i in b:
  c=c+i[::-1]+" " #d=i[::-1]
  # c=c+d+" "
print(c)

enter wordHyd  is  green  city
dyH si neerg ytic

In [ ]:
'''
Write  a  program  to  reverse  order  of  words  in  the  sentence  without  slice

1) Let  input  be  Hyd  is  green  city
    What  is  the  output ?  ---> city   green   is   Hyd

2) What  is  the  result  of  input . split() ?  --->  ['Hyd' , 'is' , 'green' , 'city']   --->   Assume  that  it  is  'b'

3) i        b[-i]           c
   ---------------------------------------------
                              ''
   1        'city'         '' + 'city' + ' '=  'city '
   2        'green'     'city ' + 'green' + ' ' = 'city green '
   3        'is'            'city green ' + 'is' + ' ' =  'city green is '
   4        'Hyd'        'city green is ' + 'Hyd' + ' ' = 'city green is Hyd '
   --------------------------------------------------------
'''
a=input("enter word")
b=a.split()
c=""
for i in range(1,len(b)+1):
  c=c+b[-i]+" "
print(c)

enter wordHyd  is  green  city
city green is Hyd

In [ ]:
'''
Write  a  program  to  reverse  a  string  without  slice

1) Let  input  be   Hyd
    What  is  the  output ?  --->  dyH

2)   H       y      d
      -3     -2     -1

      i       a[-i]            b
    ---------------------------------------
                                ''
     1        'd'             '' + 'd' = 'd'
     2       'y'             'd' + 'y' = 'dy'
     3       'H'            'dy' + 'H' = 'dyH'
  ---------------------------------------------
'''
# Enter  any  string : Rama Rao
# Reverse  String :   oaR amaR
a=input("enter word")
# b=a.split()
c=""
for i in range(1,len(a)+1):
  c=c+a[-i]
print(c)

enter wordRama Rao
oaR amaR

In [ ]:
'''
Write  a  program  to  print  distinct  vowels  of  the  string  without  using  set

1) Let  input  be   RaMA  rAo
    What  is  the  output ?  ---> AO

2) Hint  1:  Same  as   prog3e  with  minor  changes

3) What  does  'hyd' . upper()  do ? --->  Returns  'HYD'
'''



a=input("enter word")
x=a.upper()
b="AEIOU"
c=""
for i in x:
  if i in b and i not in c:
    c=c+i
print(c)

enter wordRaMA  rAo
AO

In [85]:
'''
Let  input  be  A4M3Z5D2

What  is  the  output ?  --->  AEMPZ_DF

 0     1     2     3    4    5    6     7
 A    4     M    3    Z    5    D     2


   i       a[i]      a[i + 1]         out
--------------------------------------------------------------------------------
                                          ''
  0       'A'           '4'          '' + 'A' + chr(65 + 4) = '' + 'A' + 'E' = 'AE'

  2       'M'           '3'          'AE' + 'M' + chr(77 + 3) = 'AE' + 'M' + 'P' = 'AEMP'

  4       'Z'           '5'          'AEMP' + 'Z' + chr(90 + 5) = 'AEMP' + 'Z' + '' = 'AEMPZ'

  6       'D'           '2'          'AEMPZ_' + 'D' + chr(68 + 2) = 'AEMPZ_' + 'D' + 'F' = 'AEMPZ_DF'
-----------------------------------------------------------------------------------
Hint: Use  chr()  and  ord()  functions
'''
# Enter  any  string  with  alternate  character  and  digit  :  A4M3Z5D2
# Result  :   AEMPZ_DF

# Enter  any  string  with  alternate  character  and  digit  :  HYD
# Pls  enter  string  with  alternate  char  and  digit


try:
  a=input("Enter  any  string  with  alternate  character  and  digit  :")
  b=""
  for i in range(0,len(a),2):
    b=b+a[i]+chr(ord(a[i])+int(a[i+1]))
  print("the result is:",b)
except:
  print("Pls enter string with alternate char and digit")

Enter  any  string  with  alternate  character  and  digit  :A4M3Z5D2
the result is: AEMPZ_DF