<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/Test_Git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

bold text#print({10 , 20} + {30 , 40}) # Error : sets  cannot be concatenated  with  +  operator
#print({10 : 'Hyd'} + {20 : 'Sec'}) # Error : dictionaries cannot be concatenated  with  + operator
#print(range(4) + range(5))  # Error  :  range  objects  cannot be  concatenated
#print(10 + '20') # Error :  Operand2  should  be  a  non-sequence   as  operand1   is  a  non-sequence
#print([10 , 20 , 30] + 5) # Error :  list  and  int  can  not  be  concatenated
#print([10 , 20 , 30] + (40 , 50 , 60)) # Error  :  list  and   tuple  can  not  be  concatenated

In [1]:
# Find outputs (Home work)
print(10 + 20) # 30
print(10.8 + 20.6) #  31.4
print(3 + 4j + 5 + 6j) # 8+10j
print(True + False) #  1 + 0 = 1
print('Hyder' + 'abad') # Hyderabad
print('Sankar' + 'Dayal' + 'Sarma') #SankarDayalSarma
print('10' + '20') # 1020
print([10 , 20 , 30] + [1 , 2 , 3]) # [10, 20, 30, 1, 2, 3]
print((25 , 10.8 , 'Hyd') + (3 + 4j , True , None)) # (25, 10.8, 'Hyd', (3+4j), True, None)

30
31.400000000000002
(8+10j)
1
Hyderabad
SankarDayalSarma
1020
[10, 20, 30, 1, 2, 3]
(25, 10.8, 'Hyd', (3+4j), True, None)

print("testing github")