<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/Test_Git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ranjith Addakula")

Ranjith Addakula

In [2]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [ ]:
import sqlite3
import pandas as pd

# create an in-memory database (temporary) or file-based one
conn = sqlite3.connect("company.db")
cursor = conn.cursor()

In [ ]:
sql_script = """
CREATE TABLE Departments (
    dept_id INTEGER PRIMARY KEY,
    dept_name TEXT,
    location TEXT
);

CREATE TABLE Employees (
    emp_id INTEGER PRIMARY KEY,
    emp_name TEXT,
    dept_id INTEGER,
    hire_date TEXT,
    email TEXT,
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

CREATE TABLE Projects (
    project_id INTEGER PRIMARY KEY,
    project_name TEXT,
    dept_id INTEGER,
    start_date TEXT,
    end_date TEXT,
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

CREATE TABLE Salaries (
    salary_id INTEGER PRIMARY KEY,
    emp_id INTEGER,
    basic_pay REAL,
    hra REAL,
    da REAL,
    total_salary REAL,
    FOREIGN KEY (emp_id) REFERENCES Employees(emp_id)
);

CREATE TABLE Managers (
    manager_id INTEGER PRIMARY KEY,
    emp_id INTEGER,
    dept_id INTEGER,
    start_date TEXT,
    FOREIGN KEY (emp_id) REFERENCES Employees(emp_id),
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

-- insert all department records
INSERT INTO Departments VALUES
(1,'HR','Hyderabad'),
(2,'Finance','Chennai'),
(3,'IT','Bangalore'),
(4,'Sales','Mumbai'),
(5,'Marketing','Delhi'),
(6,'Admin','Pune'),
(7,'Support','Kolkata'),
(8,'Legal','Noida'),
(9,'Procurement','Chandigarh'),
(10,'R&D','Hyderabad'),
(11,'Design','Pune'),
(12,'Logistics','Bangalore'),
(13,'Security','Chennai'),
(14,'Training','Delhi'),
(15,'QA','Mumbai'),
(16,'CSR','Bangalore'),
(17,'Operations','Kochi'),
(18,'Media','Hyderabad'),
(19,'Customer Success','Chennai'),
(20,'Data Analytics','Bangalore');
"""
cursor.executescript(sql_script)
conn.commit()

In [ ]:
pd.read_sql("SELECT * FROM Departments;", conn)

    dept_id         dept_name    location
0         1                HR   Hyderabad
1         2           Finance     Chennai
2         3                IT   Bangalore
3         4             Sales      Mumbai
4         5         Marketing       Delhi
5         6             Admin        Pune
6         7           Support     Kolkata
7         8             Legal       Noida
8         9       Procurement  Chandigarh
9        10               R&D   Hyderabad
10       11            Design        Pune
11       12         Logistics   Bangalore
12       13          Security     Chennai
13       14          Training       Delhi
14       15                QA      Mumbai
15       16               CSR   Bangalore
16       17        Operations       Kochi
17       18             Media   Hyderabad
18       19  Customer Success     Chennai
19       20    Data Analytics   Bangalore

In [ ]:
conn.close()
from google.colab import files
files.download("company.db")

bold text#print({10 , 20} + {30 , 40}) # Error : sets  cannot be concatenated  with  +  operator
#print({10 : 'Hyd'} + {20 : 'Sec'}) # Error : dictionaries cannot be concatenated  with  + operator
#print(range(4) + range(5))  # Error  :  range  objects  cannot be  concatenated
#print(10 + '20') # Error :  Operand2  should  be  a  non-sequence   as  operand1   is  a  non-sequence
#print([10 , 20 , 30] + 5) # Error :  list  and  int  can  not  be  concatenated
#print([10 , 20 , 30] + (40 , 50 , 60)) # Error  :  list  and   tuple  can  not  be  concatenated

In [ ]:
# Find outputs (Home work)
print(10 + 20) # 30
print(10.8 + 20.6) #  31.4
print(3 + 4j + 5 + 6j) # 8+10j
print(True + False) #  1 + 0 = 1
print('Hyder' + 'abad') # Hyderabad
print('Sankar' + 'Dayal' + 'Sarma') #SankarDayalSarma
print('10' + '20') # 1020
print([10 , 20 , 30] + [1 , 2 , 3]) # [10, 20, 30, 1, 2, 3]
print((25 , 10.8 , 'Hyd') + (3 + 4j , True , None)) # (25, 10.8, 'Hyd', (3+4j), True, None)

30
31.400000000000002
(8+10j)
1
Hyderabad
SankarDayalSarma
1020
[10, 20, 30, 1, 2, 3]
(25, 10.8, 'Hyd', (3+4j), True, None)

In [7]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [9]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 62.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [11]:
import mysql.connector

In [13]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [20]:
import pandas as pd

In [21]:
!pip install mysql-connector-python

import mysql.connector as mc

# connection = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="your_password",
#     database="your_database"
# )
root_con = mc.connect(host="35.222.34.151",user="team8",password="t8ssss_DP",database = "OLTP")
cur = root_con.cursor()
customers = pd.read_sql("SELECT * FROM customers", root_con)

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.12/dist-packages (9.5.0)

/tmp/ipython-input-1991394905.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql("SELECT * FROM customers", root_con)

In [22]:
print(customers.head(10))

   customer_id  first_name   last_name              email  \
0            0  first_name   last_name              email
1            1  Snemrpapzh       Obrbc  user1@example.com
2            2       Skrxg       Nznal  user2@example.com
3            3       Kuqaf    Mqagqaxw  user3@example.com
4            4  Fslqfheaey    Indjhwcp  user4@example.com
5            5       Eispm     Jibzobi  user5@example.com
6            6  Kkrtssmbfl      Dkkzmy  user6@example.com
7            7    Oobkigld      Nyjvqf  user7@example.com
8            8   Izpaqftta     Sbsqtjy  user8@example.com
9            9    Lxopjojf  Kshzwuhvhv  user9@example.com

                 phone phone_norm         city        state signup_date  \
0                phone       city        state  signup_date        None
1  (281) +918746317213    Kolkata    Rajasthan   2024-05-01        None
2        91-7051802512     Mumbai   Tamil Nadu   2023-03-05        None
3           6440213415     Jaipur  West Bengal   2025-02-19        None
4        +918342331444      Delhi   Tamil Nadu   2024-01-13        None
5        +916136505587    Kolkata    Telangana   2025-05-12        None
6      +91 69992 70936      Noida  Maharashtra   2024-02-13        None
7        91-8410529190    Chennai    Rajasthan   2025-03-31        None
8      +91 90121 67820    Kolkata  Maharashtra   2023-09-16        None
9      +91 79293 38154     Jaipur  West Bengal   2025-08-06        None

     is_active   external_id guest_flag created_at updated_at
0  external_id  guest_flag\r                  None       None
1   ext_130951       False\r                  None       None
2   ext_111864       False\r                  None       None
3    ext_93684       False\r                  None       None
4    ext_33843       False\r                  None       None
5                    False\r                  None       None
6   ext_119360       False\r                  None       None
7    ext_91602       False\r                  None       None
8                    False\r                  None       None
9   ext_199839        True\r                  None       None

In [23]:
products = pd.read_sql("SELECT * FROM products", root_con)
orders = pd.read_sql("SELECT * FROM orders", root_con)
order_items = pd.read_sql("SELECT * FROM order_items", root_con)
payments = pd.read_sql("SELECT * FROM payments", root_con)
shipments = pd.read_sql("SELECT * FROM shipments", root_con)
returns = pd.read_sql("SELECT * FROM returns", root_con)
product_bundles = pd.read_sql("SELECT * FROM product_bundles", root_con)
bundle_items = pd.read_sql("SELECT * FROM bundle_items", root_con)
product_price_history = pd.read_sql("SELECT * FROM product_price_history", root_con)

/tmp/ipython-input-1645296085.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products = pd.read_sql("SELECT * FROM products", root_con)
/tmp/ipython-input-1645296085.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql("SELECT * FROM orders", root_con)
/tmp/ipython-input-1645296085.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  order_items = pd.read_sql("SELECT * FROM order_items", root_con)
/tmp/ipython-input-1645296085.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments = pd.read_sql("SELECT * FROM payments", root_con)
/tmp/ipython-input-1645296085.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  shipments = pd.read_sql("SELECT * FROM shipments", root_con)
/tmp/ipython-input-1645296085.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  returns = pd.read_sql("SELECT * FROM returns", root_con)
/tmp/ipython-input-1645296085.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_bundles = pd.read_sql("SELECT * FROM product_bundles", root_con)
/tmp/ipython-input-1645296085.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  bundle_items = pd.read_sql("SELECT * FROM bundle_items", root_con)
/tmp/ipython-input-1645296085.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_price_history = pd.read_sql("SELECT * FROM product_price_history", root_con)

In [24]:
print(shipments.head(10))

   shipment_id  order_id shipped_date delivered_date  delivery_city  \
0            0         0         None           None  delivery_city
1            1         1   2024-01-12     2024-01-13          Noida
2            2         2   2023-01-30           None      Hyderabad
3            3         3   2023-12-25     2023-12-28         Mumbai
4            4         4   2025-06-25           None          Delhi
5            5         5   2023-05-19           None         Mumbai
6            6         6   2024-06-18     2024-06-19        Chennai
7            7         7   2025-05-05     2025-05-07        Chennai
8            8         8   2025-08-31     2025-09-01        Chennai
9            9         9   2023-11-12     2023-11-16          Noida

   shipment_status       carrier tracking_number
0  shipment_status     carrier\r            None
1        DELIVERED  ShipRocket\r            None
2          SHIPPED   IndiaPost\r            None
3        DELIVERED    BlueDart\r            None
4          SHIPPED    BlueDart\r            None
5         RETURNED  ShipRocket\r            None
6        DELIVERED  XpressBees\r            None
7        DELIVERED    BlueDart\r            None
8        DELIVERED   Delhivery\r            None
9        DELIVERED  ShipRocket\r            None

In [25]:
a=shipments['carrier'].unique()
a

array(['carrier\r', 'ShipRocket\r', 'IndiaPost\r', 'BlueDart\r',
       'XpressBees\r', 'Delhivery\r'], dtype=object)

In [26]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://team8:t8ssss_DP@35.222.34.151:3306/Team8")
df = pd.DataFrame({
    'carrier_id': [1,2,3,4,5,6],
    'carrier_name': ['carrier', 'ShipRocket', 'IndiaPost', 'BlueDart', 'XpressBees', 'Delhivery']
})
#df.to_sql('dim_carrier', engine, if_exists='replace', index=False)

In [27]:
df.head()

   carrier_id carrier_name
0           1      carrier
1           2   ShipRocket
2           3    IndiaPost
3           4     BlueDart
4           5   XpressBees

In [28]:
df.describe()

       carrier_id
count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000

In [29]:
pip install cryptography

Requirement already satisfied: cryptography in /usr/local/lib/python3.12/dist-packages (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography) (2.23)

In [30]:
pip install PyMySQL[rsa]

Requirement already satisfied: PyMySQL[rsa] in /usr/local/lib/python3.12/dist-packages (1.1.2)
Requirement already satisfied: cryptography in /usr/local/lib/python3.12/dist-packages (from PyMySQL[rsa]) (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography->PyMySQL[rsa]) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography->PyMySQL[rsa]) (2.23)

In [31]:
df.to_sql('dim_carrier', engine, if_exists="append" ,index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'dim_carrier.PRIMARY'")
[SQL: INSERT INTO dim_carrier (carrier_id, carrier_name) VALUES (%(carrier_id)s, %(carrier_name)s)]
[parameters: [{'carrier_id': 1, 'carrier_name': 'carrier'}, {'carrier_id': 2, 'carrier_name': 'ShipRocket'}, {'carrier_id': 3, 'carrier_name': 'IndiaPost'}, {'carrier_id': 4, 'carrier_name': 'BlueDart'}, {'carrier_id': 5, 'carrier_name': 'XpressBees'}, {'carrier_id': 6, 'carrier_name': 'Delhivery'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [32]:
df

   carrier_id carrier_name
0           1      carrier
1           2   ShipRocket
2           3    IndiaPost
3           4     BlueDart
4           5   XpressBees
5           6    Delhivery

In [33]:
payments.head()

,payment_id,order_id,payment_method,amount,payment_date,is_refunded,refund_txn_id
0,0,0,payment_method,0.00,None,0,None
1,1,1,DEBIT_CARD,938.99,2024-01-07,0,None
2,2,2,UPI,25244.21,2023-01-26,0,None
3,3,3,DEBIT_CARD,56443.14,2023-12-18,0,None
4,4,4,COD,13060.57,2025-06-22,0,None

In [34]:
payments['payment_method'].unique()

array(['payment_method', 'DEBIT_CARD', 'UPI', 'COD', 'WALLET',
       'CREDIT_CARD', 'NET_BANKING'], dtype=object)

In [35]:

df = pd.DataFrame({
    'payment_method_id': [1,2,3,4,5,6,7],
    'payment_method': ['payment_method', 'DEBIT_CARD', 'UPI', 'COD', 'WALLET','CREDIT_CARD', 'NET_BANKING']
})
#df.to_sql('dim_carrier', engine, if_exists='replace', index=False)

In [36]:
df.to_sql('dim_payment_method', engine, if_exists="append", index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'dim_payment_method.PRIMARY'")
[SQL: INSERT INTO dim_payment_method (payment_method_id, payment_method) VALUES (%(payment_method_id)s, %(payment_method)s)]
[parameters: [{'payment_method_id': 1, 'payment_method': 'payment_method'}, {'payment_method_id': 2, 'payment_method': 'DEBIT_CARD'}, {'payment_method_id': 3, 'payment_method': 'UPI'}, {'payment_method_id': 4, 'payment_method': 'COD'}, {'payment_method_id': 5, 'payment_method': 'WALLET'}, {'payment_method_id': 6, 'payment_method': 'CREDIT_CARD'}, {'payment_method_id': 7, 'payment_method': 'NET_BANKING'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [37]:

customers.head()

,customer_id,first_name,last_name,email,phone,phone_norm,city,state,signup_date,is_active,external_id,guest_flag,created_at,updated_at
0,0,first_name,last_name,email,phone,city,state,signup_date,None,external_id,guest_flag\r,,None,None
1,1,Snemrpapzh,Obrbc,user1@example.com,(281) +918746317213,Kolkata,Rajasthan,2024-05-01,None,ext_130951,False\r,,None,None
2,2,Skrxg,Nznal,user2@example.com,91-7051802512,Mumbai,Tamil Nadu,2023-03-05,None,ext_111864,False\r,,None,None
3,3,Kuqaf,Mqagqaxw,user3@example.com,6440213415,Jaipur,West Bengal,2025-02-19,None,ext_93684,False\r,,None,None
4,4,Fslqfheaey,Indjhwcp,user4@example.com,+918342331444,Delhi,Tamil Nadu,2024-01-13,None,ext_33843,False\r,,None,None

In [38]:
cust="Select customer_id,first_name,last_name,email,phone,phone_norm,city,state,signup_date from customers"
customers_summary=pd.read_sql(cust,root_con)
customers_summary.head()

/tmp/ipython-input-452499477.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers_summary=pd.read_sql(cust,root_con)

,customer_id,first_name,last_name,email,phone,phone_norm,city,state,signup_date
0,0,first_name,last_name,email,phone,city,state,signup_date,None
1,1,Snemrpapzh,Obrbc,user1@example.com,(281) +918746317213,Kolkata,Rajasthan,2024-05-01,None
2,2,Skrxg,Nznal,user2@example.com,91-7051802512,Mumbai,Tamil Nadu,2023-03-05,None
3,3,Kuqaf,Mqagqaxw,user3@example.com,6440213415,Jaipur,West Bengal,2025-02-19,None
4,4,Fslqfheaey,Indjhwcp,user4@example.com,+918342331444,Delhi,Tamil Nadu,2024-01-13,None

In [39]:
query="select customer_id,first_name,last_name,email,phone,phone_norm as city,city as state from customers "
df=pd.read_sql(query,root_con)
df["phone"]=df["phone"].str.extract(r'(\d{10})').fillna('NaN')
df["email"]=df["email"].fillna('')
df["city"]= df["city"].str.strip().str.lower().str.title()
df["state"]= df["state"].str.strip().str.lower().str.title()
df_modified=df.drop(df.index[0],axis=0) # axis=0 means whole row
df_modified.head(5)

/tmp/ipython-input-2966935802.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,root_con)

,customer_id,first_name,last_name,email,phone,city,state
1,1,Snemrpapzh,Obrbc,user1@example.com,9187463172,Kolkata,Rajasthan
2,2,Skrxg,Nznal,user2@example.com,7051802512,Mumbai,Tamil Nadu
3,3,Kuqaf,Mqagqaxw,user3@example.com,6440213415,Jaipur,West Bengal
4,4,Fslqfheaey,Indjhwcp,user4@example.com,9183423314,Delhi,Tamil Nadu
5,5,Eispm,Jibzobi,user5@example.com,9161365055,Kolkata,Telangana

In [40]:
df_modified.to_sql('dim_customer', engine, if_exists="append", index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'dim_customer.PRIMARY'")
[SQL: INSERT INTO dim_customer (customer_id, first_name, last_name, email, phone, city, state) VALUES (%(customer_id)s, %(first_name)s, %(last_name)s, %(email)s, %(phone)s, %(city)s, %(state)s)]
[parameters: [{'customer_id': 1, 'first_name': 'Snemrpapzh', 'last_name': 'Obrbc', 'email': 'user1@example.com', 'phone': '9187463172', 'city': 'Kolkata', 'state': 'Rajasthan'}, {'customer_id': 2, 'first_name': 'Skrxg', 'last_name': 'Nznal', 'email': 'user2@example.com', 'phone': '7051802512', 'city': 'Mumbai', 'state': 'Tamil Nadu'}, {'customer_id': 3, 'first_name': 'Kuqaf', 'last_name': 'Mqagqaxw', 'email': 'user3@example.com', 'phone': '6440213415', 'city': 'Jaipur', 'state': 'West Bengal'}, {'customer_id': 4, 'first_name': 'Fslqfheaey', 'last_name': 'Indjhwcp', 'email': 'user4@example.com', 'phone': '9183423314', 'city': 'Delhi', 'state': 'Tamil Nadu'}, {'customer_id': 5, 'first_name': 'Eispm', 'last_name': 'Jibzobi', 'email': 'user5@example.com', 'phone': '9161365055', 'city': 'Kolkata', 'state': 'Telangana'}, {'customer_id': 6, 'first_name': 'Kkrtssmbfl', 'last_name': 'Dkkzmy', 'email': 'user6@example.com', 'phone': 'NaN', 'city': 'Noida', 'state': 'Maharashtra'}, {'customer_id': 7, 'first_name': 'Oobkigld', 'last_name': 'Nyjvqf', 'email': 'user7@example.com', 'phone': '8410529190', 'city': 'Chennai', 'state': 'Rajasthan'}, {'customer_id': 8, 'first_name': 'Izpaqftta', 'last_name': 'Sbsqtjy', 'email': 'user8@example.com', 'phone': 'NaN', 'city': 'Kolkata', 'state': 'Maharashtra'}  ... displaying 10 of 100000 total bound parameter sets ...  {'customer_id': 99999, 'first_name': 'Ftcubqmn', 'last_name': 'Bsawjljvv', 'email': 'user99999@example.com', 'phone': '9167377930', 'city': 'Mumbai', 'state': 'West Bengal'}, {'customer_id': 100000, 'first_name': 'Anteotxxsq', 'last_name': 'Dlyfqou', 'email': 'user100000@example.com', 'phone': 'NaN', 'city': 'Hyderabad', 'state': 'Tamil Nadu'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [41]:
products.head()

,product_id,product_name,product_category_raw,product_category,list_price,cost_price,is_active,created_at,updated_at
0,0,product_name,product_category_raw,list_price,0.0,0.0,0,None,None
1,1,Product-1-XQR,books,3137.72,0.0,2025.0,127,None,None
2,2,Product-2-IXV,Electr0nics,4865.7,0.0,2022.0,127,None,None
3,3,Product-3-GMG,elecronics,15511.4,0.0,2024.0,127,None,None
4,4,Product-4-UUF,Sp0rts,9703.02,0.0,2024.0,127,None,None

In [42]:
df.to_sql('dim_product', engine, if_exists="append" ,index=False)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'customer_id' in 'field list'")
[SQL: INSERT INTO dim_product (customer_id, first_name, last_name, email, phone, city, state) VALUES (%(customer_id)s, %(first_name)s, %(last_name)s, %(email)s, %(phone)s, %(city)s, %(state)s)]
[parameters: [{'customer_id': 0, 'first_name': 'first_name', 'last_name': 'last_name', 'email': 'email', 'phone': 'NaN', 'city': 'City', 'state': 'State'}, {'customer_id': 1, 'first_name': 'Snemrpapzh', 'last_name': 'Obrbc', 'email': 'user1@example.com', 'phone': '9187463172', 'city': 'Kolkata', 'state': 'Rajasthan'}, {'customer_id': 2, 'first_name': 'Skrxg', 'last_name': 'Nznal', 'email': 'user2@example.com', 'phone': '7051802512', 'city': 'Mumbai', 'state': 'Tamil Nadu'}, {'customer_id': 3, 'first_name': 'Kuqaf', 'last_name': 'Mqagqaxw', 'email': 'user3@example.com', 'phone': '6440213415', 'city': 'Jaipur', 'state': 'West Bengal'}, {'customer_id': 4, 'first_name': 'Fslqfheaey', 'last_name': 'Indjhwcp', 'email': 'user4@example.com', 'phone': '9183423314', 'city': 'Delhi', 'state': 'Tamil Nadu'}, {'customer_id': 5, 'first_name': 'Eispm', 'last_name': 'Jibzobi', 'email': 'user5@example.com', 'phone': '9161365055', 'city': 'Kolkata', 'state': 'Telangana'}, {'customer_id': 6, 'first_name': 'Kkrtssmbfl', 'last_name': 'Dkkzmy', 'email': 'user6@example.com', 'phone': 'NaN', 'city': 'Noida', 'state': 'Maharashtra'}, {'customer_id': 7, 'first_name': 'Oobkigld', 'last_name': 'Nyjvqf', 'email': 'user7@example.com', 'phone': '8410529190', 'city': 'Chennai', 'state': 'Rajasthan'}  ... displaying 10 of 100001 total bound parameter sets ...  {'customer_id': 99999, 'first_name': 'Ftcubqmn', 'last_name': 'Bsawjljvv', 'email': 'user99999@example.com', 'phone': '9167377930', 'city': 'Mumbai', 'state': 'West Bengal'}, {'customer_id': 100000, 'first_name': 'Anteotxxsq', 'last_name': 'Dlyfqou', 'email': 'user100000@example.com', 'phone': 'NaN', 'city': 'Hyderabad', 'state': 'Tamil Nadu'}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [43]:
prod="Select product_id,product_name,product_category,list_price,cost_price from products"
products_summary=pd.read_sql(prod,root_con)
products_summary.head()

/tmp/ipython-input-3815391998.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products_summary=pd.read_sql(prod,root_con)

   product_id   product_name product_category  list_price  cost_price
0           0   product_name       list_price         0.0         0.0
1           1  Product-1-XQR          3137.72         0.0      2025.0
2           2  Product-2-IXV           4865.7         0.0      2022.0
3           3  Product-3-GMG          15511.4         0.0      2024.0
4           4  Product-4-UUF          9703.02         0.0      2024.0

In [44]:

dates = pd.date_range(start='2023-01-01', end='2025-12-31', freq='D')

df = pd.DataFrame({
    'date': dates,
    'year': dates.year,
    'month': dates.month,
    'day': dates.day
})


engine = create_engine("mysql+pymysql://team8:t8ssss_DP@35.222.34.151:3306/Team8")

df.to_sql('dim_date', engine, if_exists="append", index=False)


# ✅ Successfully inserted date, year, month, day into 'dim_date' table.------------>In the VS code

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '2023-01-01' for key 'dim_date.PRIMARY'")
[SQL: INSERT INTO dim_date (date, year, month, day) VALUES (%(date)s, %(year)s, %(month)s, %(day)s)]
[parameters: [{'date': datetime.datetime(2023, 1, 1, 0, 0), 'year': 2023, 'month': 1, 'day': 1}, {'date': datetime.datetime(2023, 1, 2, 0, 0), 'year': 2023, 'month': 1, 'day': 2}, {'date': datetime.datetime(2023, 1, 3, 0, 0), 'year': 2023, 'month': 1, 'day': 3}, {'date': datetime.datetime(2023, 1, 4, 0, 0), 'year': 2023, 'month': 1, 'day': 4}, {'date': datetime.datetime(2023, 1, 5, 0, 0), 'year': 2023, 'month': 1, 'day': 5}, {'date': datetime.datetime(2023, 1, 6, 0, 0), 'year': 2023, 'month': 1, 'day': 6}, {'date': datetime.datetime(2023, 1, 7, 0, 0), 'year': 2023, 'month': 1, 'day': 7}, {'date': datetime.datetime(2023, 1, 8, 0, 0), 'year': 2023, 'month': 1, 'day': 8}  ... displaying 10 of 1096 total bound parameter sets ...  {'date': datetime.datetime(2025, 12, 30, 0, 0), 'year': 2025, 'month': 12, 'day': 30}, {'date': datetime.datetime(2025, 12, 31, 0, 0), 'year': 2025, 'month': 12, 'day': 31}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [45]:
df

           date  year  month  day
0    2023-01-01  2023      1    1
1    2023-01-02  2023      1    2
2    2023-01-03  2023      1    3
3    2023-01-04  2023      1    4
4    2023-01-05  2023      1    5
...         ...   ...    ...  ...
1091 2025-12-27  2025     12   27
1092 2025-12-28  2025     12   28
1093 2025-12-29  2025     12   29
1094 2025-12-30  2025     12   30
1095 2025-12-31  2025     12   31

[1096 rows x 4 columns]

In [16]:
import pymysql.connector as mc
import pandas as pd

root_con = mc.connect(host="35.222.34.151",user="team8",password="t8ssss_DP",database = "OLTP")
cur = root_con.cursor()
customers = pd.read_sql("SELECT * FROM customers", root_con)
products = pd.read_sql("SELECT * FROM products", root_con)
orders = pd.read_sql("SELECT * FROM orders", root_con)
order_items = pd.read_sql("SELECT * FROM order_items", root_con)
payments = pd.read_sql("SELECT * FROM payments", root_con)
shipments = pd.read_sql("SELECT * FROM shipments", root_con)
returns = pd.read_sql("SELECT * FROM returns", root_con)
product_bundles = pd.read_sql("SELECT * FROM product_bundles", root_con)
bundle_items = pd.read_sql("SELECT * FROM bundle_items", root_con)
product_price_history = pd.read_sql("SELECT * FROM product_price_history", root_con)

ModuleNotFoundError: No module named 'pymysql.connector'

print("testing github")