<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/Test_Git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Ranjith Addakula")

Ranjith Addakula

In [2]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [3]:
import sqlite3
import pandas as pd

# create an in-memory database (temporary) or file-based one
conn = sqlite3.connect("company.db")
cursor = conn.cursor()

In [4]:
sql_script = """
CREATE TABLE Departments (
    dept_id INTEGER PRIMARY KEY,
    dept_name TEXT,
    location TEXT
);

CREATE TABLE Employees (
    emp_id INTEGER PRIMARY KEY,
    emp_name TEXT,
    dept_id INTEGER,
    hire_date TEXT,
    email TEXT,
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

CREATE TABLE Projects (
    project_id INTEGER PRIMARY KEY,
    project_name TEXT,
    dept_id INTEGER,
    start_date TEXT,
    end_date TEXT,
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

CREATE TABLE Salaries (
    salary_id INTEGER PRIMARY KEY,
    emp_id INTEGER,
    basic_pay REAL,
    hra REAL,
    da REAL,
    total_salary REAL,
    FOREIGN KEY (emp_id) REFERENCES Employees(emp_id)
);

CREATE TABLE Managers (
    manager_id INTEGER PRIMARY KEY,
    emp_id INTEGER,
    dept_id INTEGER,
    start_date TEXT,
    FOREIGN KEY (emp_id) REFERENCES Employees(emp_id),
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id)
);

-- insert all department records
INSERT INTO Departments VALUES
(1,'HR','Hyderabad'),
(2,'Finance','Chennai'),
(3,'IT','Bangalore'),
(4,'Sales','Mumbai'),
(5,'Marketing','Delhi'),
(6,'Admin','Pune'),
(7,'Support','Kolkata'),
(8,'Legal','Noida'),
(9,'Procurement','Chandigarh'),
(10,'R&D','Hyderabad'),
(11,'Design','Pune'),
(12,'Logistics','Bangalore'),
(13,'Security','Chennai'),
(14,'Training','Delhi'),
(15,'QA','Mumbai'),
(16,'CSR','Bangalore'),
(17,'Operations','Kochi'),
(18,'Media','Hyderabad'),
(19,'Customer Success','Chennai'),
(20,'Data Analytics','Bangalore');
"""
cursor.executescript(sql_script)
conn.commit()

In [5]:
pd.read_sql("SELECT * FROM Departments;", conn)

    dept_id         dept_name    location
0         1                HR   Hyderabad
1         2           Finance     Chennai
2         3                IT   Bangalore
3         4             Sales      Mumbai
4         5         Marketing       Delhi
5         6             Admin        Pune
6         7           Support     Kolkata
7         8             Legal       Noida
8         9       Procurement  Chandigarh
9        10               R&D   Hyderabad
10       11            Design        Pune
11       12         Logistics   Bangalore
12       13          Security     Chennai
13       14          Training       Delhi
14       15                QA      Mumbai
15       16               CSR   Bangalore
16       17        Operations       Kochi
17       18             Media   Hyderabad
18       19  Customer Success     Chennai
19       20    Data Analytics   Bangalore

In [6]:
conn.close()
from google.colab import files
files.download("company.db")

bold text#print({10 , 20} + {30 , 40}) # Error : sets  cannot be concatenated  with  +  operator
#print({10 : 'Hyd'} + {20 : 'Sec'}) # Error : dictionaries cannot be concatenated  with  + operator
#print(range(4) + range(5))  # Error  :  range  objects  cannot be  concatenated
#print(10 + '20') # Error :  Operand2  should  be  a  non-sequence   as  operand1   is  a  non-sequence
#print([10 , 20 , 30] + 5) # Error :  list  and  int  can  not  be  concatenated
#print([10 , 20 , 30] + (40 , 50 , 60)) # Error  :  list  and   tuple  can  not  be  concatenated

In [ ]:
# Find outputs (Home work)
print(10 + 20) # 30
print(10.8 + 20.6) #  31.4
print(3 + 4j + 5 + 6j) # 8+10j
print(True + False) #  1 + 0 = 1
print('Hyder' + 'abad') # Hyderabad
print('Sankar' + 'Dayal' + 'Sarma') #SankarDayalSarma
print('10' + '20') # 1020
print([10 , 20 , 30] + [1 , 2 , 3]) # [10, 20, 30, 1, 2, 3]
print((25 , 10.8 , 'Hyd') + (3 + 4j , True , None)) # (25, 10.8, 'Hyd', (3+4j), True, None)

30
31.400000000000002
(8+10j)
1
Hyderabad
SankarDayalSarma
1020
[10, 20, 30, 1, 2, 3]
(25, 10.8, 'Hyd', (3+4j), True, None)

print("testing github")