<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/test_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*  operator
--------------
1) What  is  the  result  of  25 * 4 ?  ---> 100
    What  is  the  result  of  '25' * 4 ?  ---> '25252525'

2) What  does  non-seqeunce  *  non-sequence  do  ?  ---> Multiplication
     What  does  sequence *  integer   do  ? --->  Repeats  sequence  for  'n'  times
     What  does  *sequence  do  ? ---> Unpacks  sequence  into  elements
    
3) Is  *  operator  overloaded ? --->  Yes  becoz   *  operator  does  multiplication ,  repetition  and  unpacks  object

4) Is  sequence *  float  valid ?  --->  No  becoz  operand2  should  be  an  integer  when  operand1  is  a  sequence

5) Is  sequence * sequence  valid  ?  --->  No  becoz  operand2  should  be  an  integer  when  operand1  is  a  sequence
      
6) Which  sequences  can  not  be  repeated (Total  :  3) ?  --->  set , dictionary , range

bold text#print({10 , 20} + {30 , 40}) # Error : sets  cannot be concatenated  with  +  operator
#print({10 : 'Hyd'} + {20 : 'Sec'}) # Error : dictionaries cannot be concatenated  with  + operator
#print(range(4) + range(5))  # Error  :  range  objects  cannot be  concatenated
#print(10 + '20') # Error :  Operand2  should  be  a  non-sequence   as  operand1   is  a  non-sequence
#print([10 , 20 , 30] + 5) # Error :  list  and  int  can  not  be  concatenated
#print([10 , 20 , 30] + (40 , 50 , 60)) # Error  :  list  and   tuple  can  not  be  concatenated

In [ ]:
# Find outputs (Home work)
print(10 + 20) # 30
print(10.8 + 20.6) #  31.4
print(3 + 4j + 5 + 6j) # 8+10j
print(True + False) #  1 + 0 = 1
print('Hyder' + 'abad') # Hyderabad
print('Sankar' + 'Dayal' + 'Sarma') #SankarDayalSarma
print('10' + '20') # 1020
print([10 , 20 , 30] + [1 , 2 , 3]) # [10, 20, 30, 1, 2, 3]
print((25 , 10.8 , 'Hyd') + (3 + 4j , True , None)) # (25, 10.8, 'Hyd', (3+4j), True, None)

30
31.400000000000002
(8+10j)
1
Hyderabad
SankarDayalSarma
1020
[10, 20, 30, 1, 2, 3]
(25, 10.8, 'Hyd', (3+4j), True, None)

In [ ]:
# Find outputs (Home work)
print(25 * 3) # 75
print(10.8 * 25.6) # 276.48
print(True * False) # 1 * 0 = 0
print((3 + 4j) * (5 + 6j)) # 15+18j+20j-24 = -9 + 38j
print(3 + 4j * 5 + 6j) #  3 + 20j + 6j = 3 + 26j
print('25' * 3) # 252525
print(3 * '25') # 252525
print('Hyd' * 4) # HydHydHydHyd
print([10 , 20 , 15] * 2) # [10, 20, 15, 10, 20, 15]
print((25, 10.8, 'Hyd', True) * 3) # (25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True)
#print([10 , 20 , 15] * 3.0)  #  Error  due  to  float  operand  3.0
#print({10 , 20 , 15} * 2) # Error : set cannot  be  repeated
#print({10 : 20 , 30 : 40} * 2) # Error : dict cannot be  repeated
#print([10] * [20]) # Error :  2nd  opernad is  non-int   i.e.  list



'''
What  is  operand2  of  *  operator  when  operand1  is  a  sequence ?  --->   Integer
'''

In [ ]:
# Find outputs (Home work)
print(25 * 3) # 75
print(10.8 * 25.6) # 276.48
print(True * False) # 1 * 0 = 0
print((3 + 4j) * (5 + 6j)) # 15+18j+20j-24 = -9 + 38j
print(3 + 4j * 5 + 6j) #  3 + 20j + 6j = 3 + 26j
print('25' * 3) # 252525
print(3 * '25') # 252525
print('Hyd' * 4) # HydHydHydHyd
print([10 , 20 , 15] * 2) # [10, 20, 15, 10, 20, 15]
print((25, 10.8, 'Hyd', True) * 3) # (25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True)
#print([10 , 20 , 15] * 3.0)  #  Error  due  to  float  operand  3.0
#print({10 , 20 , 15} * 2) # Error : set cannot  be  repeated
#print({10 : 20 , 30 : 40} * 2) # Error : dict cannot be  repeated
#print([10] * [20]) # Error :  2nd  opernad is  non-int   i.e.  list



'''
What  is  operand2  of  *  operator  when  operand1  is  a  sequence ?  --->   Integer
'''

In [ ]:
#  /  operator  demo  program
print(9.0 / 2)    #  4.5
print(9 / 2.0)  #  4.5
print(9.0 / 2.0)  #   4.5
print(9 / 2)  #  4.5
print(10.5 / 2)  #   5.25
print(10 / 3)  #   3.3333
print(10 / 2) #  5.0



'''
What  does  /  operator  do  ?  --->  Peforms  division   and  returns  float  quotient
'''

In [ ]:
#  //  operator  demo  program
print(9 // 2)   # Previous  integer  of  4.5 = 4
print(9.0 // 2)  #  Prev  integer  of  4.5 = 4.0
print(9 // 2.0)  #  Prev  integer  of  4.5 = 4.0
print(9.0 // 2.0)   # Prev  integer  of  4.5 = 4.0
print(10.5 // 2)   #  Prev  integer  of  5.25 = 5.0
print(10 // 3)   # Prev  integer  of   3.333 = 3
print(10.0 // 3)  # Prev  integer  of  3.33 = 3.0
print(8.5 // 3)  #   Prev  integer  of  2.8 = 2.0
print(18 // 4)   # Prev  integer  of  4.5  = 4
print(-18 // 4)  # Prev  integer  of  -4.5  = -5
print(-(18 // 4))    #  -(prev  integer  of  4.5) =  -4


'''
//  operator
--------------
1) What  does  //  operator do ?  --->  Same  as  /  operator  but  returns  previous  integer  of  /  result

2) What  is  the  result  of  integer // integer ?  --->  Integer  quotient
    What  is  the  result  of  integer // float ?  ---> Float  quotient  with  .0
    What  is  the  result  of  float // integer ?  ---> Float  quotient  with  .0
    What  is  the  result  of  float // float ?  ---> Float  quotient  with  .0

3) What  is  the  result  of  integer / integer ?  ---> Float  quotient
    What  is  the  result  of  integer / float ?  ---> Float  quotient
    What  is  the  result  of  float / integer ?  ---> Float  quotient
    What  is  the  result  of  float / float ?  ---> Float  quotient

4) When  is  the  result  of  //  operator  integer ?  ---> When  both  the  operands  are  integers
    When  is  the  result  of   //  operator  float  with  .0 ?  ---> When  at  least  one  operand  is  float
'''

In [ ]:
# % operator demo program
print(9 % 5)   #  4
print(9.0 % 5)  #  4.0
print(9 % 5.0)  #  4.0
print(9.0 % 5.0) #  4.0
print(10.5 % 2) #  0.5
print(8.9 % 3)  #  2.9



'''
%   operator
---------------
1) What  does  %  operator  do ?  --->  Performs  division  and  returns  remainder

2) When  is  the  result  of  %  operator  integer ?  --->  When  both  the  operands  are  integers
    When  is  the  result  of  %  operator  float ?  ---> When  at  least  one  operand  is  float
'''

In [ ]:
# Find outputs
#print(7 / 0) # Error :  Division  by  zero  is  not  permitted
#print(7 // 0) # Error :  Division  by  zero  is  not  permitted
#print(7 % 0) # Error :  Division  by  zero  is  not  permitted



'''
What  does  division  by  zero  do ?  ---> Throws  error
'''

In [ ]:
# ** operator demo program
print(3 ** 4)   #  3 ^ 4 = 81
print(10 ** -2) #  10 ^ -2 = 0.01
print(4 ** 3 ** 2) #  4 ^ 3 ^ 2 = 4 ^ 9 = 262144
print(3 + 4 * 5 - 32 / 2 ** 3) #19.0



'''
**  operator
---------------
1) What  is  **  operator  called ?  --->  Exponential  operator

2) What  is  the  result  of  a ** b ?  --->  a ^ b

3) What  is  the  result  of  a ** b  ** c ?   --->  a ^ b ^ c

4) What  is  the  associativity  of  **  operator ?  ---> Right  to  left
    What  is  the  associativity  of  remaining  arithmetic  operators ?  ---> Left  to  right

5) 3 + 4 * 5 - 32 / 2 ** 3
     = 3 + 4 * 5 - 32 / 8
     = 3 + 20 - 32 / 8
     = 3 + 20 - 4.0
     = 23 - 4.0
     = 19.0
'''

In [ ]:
Relational  Operators
--------------------------
1) What  are  the  six  different  relational  operators ?  --->  > , < , == , >= , <= , !=

2) What  does  relational  operators  do ?  ---> Compares  objects   but  not  references
     How  to  compare  references ?  --->  With  is  operator

3) What  is  the  result  of  relational  operators ?  ---> True  (or)  False

4) Which  operators  have  got  higher  priority  in  relational  operators  ?  --->  > , < , >= , <=
     Which  operators  have  got  lower  priority ?  ---> == , !=

5) Which  operators  have  got  higher  priority  between  arithmetic  and  relational  operators ?  --->  Arithmetic  operators

In [ ]:
#  Relational  operators  demo  program (Home  work)
print(9 >= 5)  #   True :  >  is  satisfied
print(9 >= 9)   #   True :  =  is  satisfied
print(9 >= 12)   #  False :  Both  are  not  satisfied
print(6 <= 8)  #  True :  <  is  satisfied
print(6 <= 6) #   True :  =  is  satisfied
print(6 <= 4)  #  False :  Both  are  not  satisfied
print(9 != 7)   #  True
print(6 == 8) #  False
print(True  >  False) #   1 > 0  is  True
print(3 + 4j == 3 + 4j)  #  True :  Same  complex  numbers
print(3 + 4j == 5 + 6j)  #  False :  Different  complex  numbers
print(3 + 4j != 5 + 6j)  #  True
print(10 == 10.0)#   True
#print(3 + 4j >  3 + 4j)   #  Error :  complex  numbers  can  not  be  compared  with   >


'''
1) Can  complex  numbers   be  compared ?   ---> Yes  with  ==  and  !=

2) When  can  complex  numbers   be  not  compared  ?  ---> Wiith  > , <  , >=  and  <=
'''

print("testing github")